OCLBootstrap
Pods
Podfile.lock
*.csv
*.xcodeproj
*.xcworkspace
CMakeScripts
TestHistogram
\#*\#
*_automoc.cpp
.DS_Store
*.bundle

BuildLog.htm
CMakeModules
CMakeCache.txt
CMakeFiles
CTestTestFile.cmake
Makefile
cmake_install.cmake
ui_*.h
qrc_*.h
__
*~
*.o
*.class
*.lo
*.la
.deps
.dirstamp
*.a
*.Plo
*.[Oo]bj
*.user
*.dll
*.aps
*.pch
*.pdb
*.exp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.qm
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.h5
*.lib
*.cmake
*.sbr
*.sdf
*.opensdf
*.lo
*.la
*.a
.deps
.dirstamp
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.gem
moc_*

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
